In [1]:
import numpy as np
import pandas as pd
import datetime as dt
pd.set_option('display.max_columns', None)
pd.set_option('display.float_format', lambda x: '%.5f' % x)
import warnings
warnings.filterwarnings("ignore")
warnings.simplefilter(action='ignore', category=FutureWarning)

### Read data

In [5]:
pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.0.10-py2.py3-none-any.whl (242 kB)
     -------------------------------------- 242.1/242.1 kB 1.3 MB/s eta 0:00:00
Collecting et-xmlfile
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.0.10
Note: you may need to restart the kernel to use updated packages.

In [2]:
df_=pd.read_excel(r'C:\GITHUB\RFM Analysis\Data\online_retail.xlsx', sheet_name="Year 2009-2010")
df = df_.copy()
df.head()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95000,13085.00000,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75000,13085.00000,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75000,13085.00000,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10000,13085.00000,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25000,13085.00000,United Kingdom

## Getting to know the variables:
InvoiceNo: The number of the invoice, unique per each purchase. refund invoice numbers contain "C"

StockCode: Unique code per each item

Description: Name of the item

Quantity: The number of items within the invoice

InvoiceDate: Date and time of purchase

UnitPrice: Price of a single item, as of Sterlin

CustomerID: Unique id number per each customer

Country: The country where the custormer is living

### Data Understanding

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 525461 entries, 0 to 525460
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Invoice      525461 non-null  object
 1   StockCode    525461 non-null  object
 2   Description  522533 non-null  object
 3   Quantity     525461 non-null  int64
 4   InvoiceDate  525461 non-null  datetime64[ns]
 5   Price        525461 non-null  float64
 6   Customer ID  417534 non-null  float64
 7   Country      525461 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 32.1+ MB

How many countries in df:

In [6]:
df['Country'].nunique()

40

In [7]:
df['Country'].value_counts()

United Kingdom          485852
EIRE                      9670
Germany                   8129
France                    5772
Netherlands               2769
Spain                     1278
Switzerland               1187
Portugal                  1101
Belgium                   1054
Channel Islands            906
Sweden                     902
Italy                      731
Australia                  654
Cyprus                     554
Austria                    537
Greece                     517
United Arab Emirates       432
Denmark                    428
Norway                     369
Finland                    354
Unspecified                310
USA                        244
Japan                      224
Poland                     194
Malta                      172
Lithuania                  154
Singapore                  117
RSA                        111
Bahrain                    107
Canada                      77
Hong Kong                   76
Thailand                    76
Israel                      74
Iceland                     71
Korea                       63
Brazil                      62
West Indies                 54
Bermuda                     34
Nigeria                     32
Lebanon                     13
Name: Country, dtype: int64

The most expensive products:

In [9]:
df.sort_values(by='Price', ascending=False).head()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
241824,C512770,M,Manual,-1,2010-06-17 16:52:00,25111.09000,17399.00000,United Kingdom
241827,512771,M,Manual,1,2010-06-17 16:53:00,25111.09000,NaN,United Kingdom
320581,C520667,BANK CHARGES,Bank Charges,-1,2010-08-27 13:42:00,18910.69000,NaN,United Kingdom
517953,C537630,AMAZONFEE,AMAZON FEE,-1,2010-12-07 15:04:00,13541.33000,NaN,United Kingdom
519294,C537651,AMAZONFEE,AMAZON FEE,-1,2010-12-07 15:49:00,13541.33000,NaN,United Kingdom

Number of unique product:

In [10]:
df['Description'].nunique()

4681

Most purchased items:

In [11]:
df.groupby('Description').agg({"Quantity": 'sum'}).sort_values("Quantity", ascending=False).head()

                                    Quantity
Description
WHITE HANGING HEART T-LIGHT HOLDER     57733
WORLD WAR 2 GLIDERS ASSTD DESIGNS      54698
BROCADE RING PURSE                     47647
PACK OF 72 RETRO SPOT CAKE CASES       46106
ASSORTED COLOUR BIRD ORNAMENT          44925

Check the number of uniques for StockCode and Description variables:

In [12]:
print(f"Number of uniques in StockCode: {df['StockCode'].nunique()}")
print(f"Number of uniques in Description: {df['Description'].nunique()}")

Number of uniques in StockCode: 4632
Number of uniques in Description: 4681

The values were expected to be equal, so there must be more than one unique value in Description variable for one unique StockCode. Let's check each StockCode value with the corresponding Decription values, get every StockCode that has more than one unique Description in a list form ()

In [14]:
a =df.groupby('StockCode').agg({'Description': "nunique"})
a.reset_index(inplace=True)
a.head()

  StockCode  Description
0     10002            1
1     10080            1
2     10109            1
3     10120            2
4     10125            1

In [21]:
b = list(a.loc[a['Description'] > 1, 'StockCode'])

In [23]:
for dup in b:
    print(f"dup = {dup} {df.loc[df['StockCode'] == dup, 'Description'].unique()}")

dup = 10120 ['DOGGY RUBBER' 'Zebra invcing error']
dup = 16011 [' ANIMAL STICKERS' 'ANIMAL STICKERS']
dup = 16012 ['FOOD/DRINK SPUNGE STICKERS' 'FOOD/DRINK SPONGE STICKERS']
dup = 16235 ['RECYCLED PENCIL WITH RABBIT ERASER' '?']
dup = 17033 ['BROCADE PURSE,SMALL ARCH BUTTON' 'sold as 17003?' 'Sold as 17003?' nan]
dup = 20615 ['BLUE SPOTTY PASSPORT COVER' 'BLUE POLKADOT PASSPORT COVER']
dup = 20652 ['BLUE SPOTTY LUGGAGE TAG ' nan 'BLUE POLKADOT LUGGAGE TAG ']
dup = 20658 ['RED SPOTTY LUGGAGE TAG' 'RED RETROSPOT LUGGAGE TAG']
dup = 20661 ['BLUE SPOTTY PURSE ' 'BLUE POLKADOT PURSE ']
dup = 20665 ['RED SPOTTY PURSE ' 'RED RETROSPOT PURSE ']
dup = 20674 ['GREEN SPOTTY BOWL' 'GREEN POLKADOT BOWL']
dup = 20675 ['BLUE SPOTTY BOWL' 'BLUE POLKADOT BOWL']
dup = 20676 ['RED SPOTTY BOWL' 'RED RETROSPOT BOWL']
dup = 20677 ['PINK SPOTTY BOWL' 'PINK POLKADOT BOWL']
dup = 20679 ['EDWARDIAN PARASOL RED' nan '?']
dup = 20681 ['PINK SPOTTY CHILDS UMBRELLA' 'PINK POLKADOT CHILDRENS UMBRELLA']
dup = 20682 ['RED SPOTTY CHILDS UMBRELLA' 'RED RETROSPOT CHILDRENS UMBRELLA']
dup = 20685 ['RED SPOTTY COIR DOORMAT' 'DOOR MAT RED SPOT' nan 'DOORMAT RED SPOT'
 'DOORMAT RED RETROSPOT']
dup = 20692 ['FLORAL ELEPHANT SOFT TOY' '?' nan]
dup = 20712 ['JUMBO BAG WOODLAND ANIMALS' 'missing']
dup = 20713 ['JUMBO BAG OWLS' 'missing' nan]
dup = 20714 ['POSY SHOPPER BAG' 'missing' nan]
dup = 20718 ['RED SPOTTY SHOPPER BAG' 'RED RETROSPOT SHOPPER BAG']
dup = 20724 ['RED SPOTTY CHARLOTTE BAG' 'RED RETROSPOT CHARLOTTE BAG']
dup = 20725 ['LUNCH BAG RED SPOTTY' 'LUNCH BAG RED RETROSPOT']
dup = 20738 ['GREEN MINI TAPE MEASURE ' 'counted']
dup = 20750 [' RED/WHITE DOT MINI CASES' 'RED/WHITE DOT MINI CASES'
 'RED RETROSPOT MINI CASES']
dup = 20752 ['RETRO BLUE SPOTTY WASHING UP GLOVES' 'BLUE POLKADOT WASHING UP GLOVES']
dup = 20754 ['RETRO RED SPOTTY WASHING UP GLOVES' 'RETROSPOT RED WASHING UP GLOVES']
dup = 20786 ['BLACK RETRO BAR STOOL' nan 'Damages']
dup = 20787 ['BLUE RETRO BAR STOOL' nan 'damaged']
dup = 20798 ['CLEAR MILKSHAKE GLASS' 'show']
dup = 20799 ['PINK MILKSHAKE GLASS' nan 'damaged']
dup = 20820 ['SILVER LOOKING MIRROR' 'damages']
dup = 20821 ['GOLDIE LOOKING MIRROR' 'damages' nan]
dup = 20825 ['GOLD WINE GLASS' 'damages' nan]
dup = 20830 ['SILVER PHOTO FRAME' 'damages']
dup = 20852 ['given away' 'Given away']
dup = 20914 ['SET/5 RED SPOTTY LID GLASS BOWLS' 'SET/5 RED RETROSPOT LID GLASS BOWLS'
 'damages']
dup = 20956 ['PORCELAIN T-LIGHT HOLDERS ASSORTED' '?' nan]
dup = 20975 ['12 PENCILS SMALL TUBE RED SPOTTY' '12 PENCILS SMALL TUBE RED RETROSPOT']
dup = 20979 ['36 PENCILS TUBE RED SPOTTY' '36 PENCILS TUBE RED RETROSPOT']
dup = 20983 ['12 PENCILS TALL TUBE RED SPOTTY' '12 PENCILS TALL TUBE RED RETROSPOT']
dup = 21004 ['ROSE DU SUD CHILDS APRON' nan 'ROSE DU SUD CHILDRENS APRON']
dup = 21007 ['ETCHED GLASS DROPLET DECORATION' 'damages?' nan]
dup = 21018 ['BIRD BOX CHRISTMAS TREE DECORATION' 'checked']
dup = 21035 ['SET/2 RED SPOTTY TEA TOWELS ' 'SET/2 RED RETROSPOT TEA TOWELS ']
dup = 21039 ['RED SPOTTY SHOPPING BAG' 'RED RETROSPOT SHOPPING BAG']
dup = 21041 ['RED SPOTTY OVEN GLOVE DOUBLE' 'missing' nan
 'RED RETROSPOT OVEN GLOVE DOUBLE']
dup = 21042 ['RED SPOTTY APRON ' 'RED RETROSPOT APRON ']
dup = 21051 ['RIBBONS PURSE ' '?']
dup = 21080 ['SET/20 RED SPOTTY PAPER NAPKINS ' 'SET/20 RED RETROSPOT PAPER NAPKINS ']
dup = 21092 ['SET/6 STRAWBERRY PAPER PLATES' 'phil said so']
dup = 21100 ['CHARLIE AND LOLA CHARLOTTE BAG' 'bad quality' 'counted']
dup = 21121 ['SET/10 RED SPOTTY PARTY CANDLES' nan 'SET/10 RED POLKADOT PARTY CANDLES']
dup = 21122 ['SET/10 PINK SPOTTY PARTY CANDLES' 'SET/10 PINK POLKADOT PARTY CANDLES']
dup = 21123 ['SET/10 IVORY SPOTTY PARTY CANDLES' 'SET/10 IVORY POLKADOT PARTY CANDLES']
dup = 21124 ['SET/10 BLUE SPOTTY PARTY CANDLES' 'SET/10 BLUE POLKADOT PARTY CANDLES']
dup = 21130 ['COLOURFUL STANDING GNOME' 'damaged']
dup = 21133 ['PAINTED BIRD ASSORTED CHRISTMAS' 'invcd as 84879?' nan 'checked']
dup = 21153 ['RED SPOTTY TABLECLOTH ' 'missing' nan]
dup = 21154 ['RED SPOTTY OVEN GLOVE ' '?' 'RED RETROSPOT OVEN GLOVE ']
dup = 21155 ['RED SPOTTY PEG BAG' '?' 'RED RETROSPOT PEG BAG']
dup = 21156 ['RED SPOTTY CHILDS APRON' 'RETROSPOT CHILDRENS APRON']
dup = 21157 ['RED SPOTTY WASHBAG' nan 'RED RETROSPOT WASHBAG']
dup = 21181 ['PLEASE ONE PERSON  METAL SIGN' 'PLEASE ONE PERSON METAL SIGN' 'missing'
 nan]
dup = 21185 [' HOME SWEET HOME  BLACKBOARD' 'HOME SWEET HOME  BLACKBOARD' nan]
dup = 21210 ['SET OF 72 RETRO SPOT PAPER  DOILIES'
 'SET OF 72 RETROSPOT PAPER  DOILIES']
dup = 21212 ['PACK OF 72 RETRO SPOT CAKE CASES' 'PACK OF 72 RETROSPOT CAKE CASES']
dup = 21214 ['SET OF 72 IVORY PAPER DOILIES' 'Came as green?' nan]
dup = 21215 [' IVORY PAPER CUP CAKE CASES ' 'IVORY PAPER CUP CAKE CASES ']
dup = 21216 ['SET 3 RED SPOT TIN TEA,COFFEE,SUGAR' nan
 'SET 3 RETROSPOT TEA,COFFEE,SUGAR']
dup = 21217 ['RED SPOTTY ROUND CAKE TINS' nan 'RED RETROSPOT ROUND CAKE TINS']
dup = 21238 ['RED SPOTTY CUP' 'RED RETROSPOT CUP']
dup = 21239 ['PINK  SPOTTY CUP' 'PINK  POLKADOT CUP']
dup = 21240 ['BLUE  SPOTTY CUP' 'BLUE POLKADOT CUP']
dup = 21241 ['GREEN SPOTTY CUP' 'GREEN POLKADOT CUP' nan]
dup = 21242 ['RED SPOTTY PLATE ' 'RED RETROSPOT PLATE ']
dup = 21243 ['PINK  SPOTTY PLATE ' 'PINK  POLKADOT PLATE ']
dup = 21244 ['BLUE  SPOTTY PLATE ' nan 'BLUE POLKADOT PLATE ']
dup = 21245 ['GREEN  SPOTTY PLATE ' 'GREEN POLKADOT PLATE ']
dup = 21246 ['RED SPOTTY BIG BOWL' 'RED RETROSPOT BIG BOWL']
dup = 21249 ['WOODLAND  HEIGHT CHART STICKERS ' 'WOOD ANIMALS HEIGHT CHART STICKERS ']
dup = 21275 ['ZINC TOP  2 DOOR WOODEN SHELF ' '?']
dup = 21284 ['RETRO SPOT CANDLE  SMALL' 'RETROSPOT CANDLE  SMALL']
dup = 21285 ['RETRO SPOT CANDLE  MEDIUM' 'RETROSPOT CANDLE  MEDIUM']
dup = 21286 ['RETRO SPOT CANDLE  LARGE' 'RETROSPOT CANDLE  LARGE']
dup = 21291 ['SMALL SPOTTY CHOCOLATE GIFT BAG ' 'SMALL POLKADOT CHOCOLATE GIFT BAG ']
dup = 21312 ['LARGE CHUNKY GLASS ROMAN BOWL' 'damaged' nan]
dup = 21314 ['SMALL GLASS HEART TRINKET POT' '?']
dup = 21323 ['HANGING MEDINA LANTERN LARGE' 'damges' nan]
dup = 21330 ['WOODLAND ANIMAL  WRITING SET ' '?' nan]
dup = 21379 [' CAMPHOR WOOD PORTOBELLO MUSHROOM' 'CAMPHOR WOOD PORTOBELLO MUSHROOM']
dup = 21391 ['FRENCH EMROIDR LAVENDER SCENT HEART' 'FRENCH LAVENDER SCENT HEART']
dup = 21392 ['RED SPOTTY PUDDING BOWL' 'RED POLKADOT PUDDING BOWL']
dup = 21393 ['BLUE  SPOTTY PUDDING BOWL' nan 'BLUE POLKADOT PUDDING BOWL']
dup = 21394 ['RED SPOTTY BEAKER ' 'RED POLKADOT BEAKER ']
dup = 21395 ['BLUE SPOTTY BEAKER ' 'BLUE POLKADOT BEAKER ']
dup = 21397 ['BLUE  SPOTTY EGG CUP ' 'BLUE POLKADOT EGG CUP ']
dup = 21398 ['RED  SPOTTY COFFEE  MUG' 'RED POLKADOT COFFEE  MUG']
dup = 21399 ['BLUE  SPOTTY  COFFEE MUG' 'BLUE POLKADOT COFFEE MUG']
dup = 21431 ['GREEN GINGHAM FLOWER JEWELLERY BOX' 'crushed']
dup = 21450 ['DISTRESSED CANDLE STICK WHITE' 'damaged' nan]
dup = 21463 ['MIRRORED DISCO BALL ' 'damaged' 'smashed']
dup = 21485 ['RED SPOT HEART HOT WATER BOTTLE' 'RETROSPOT HEART HOT WATER BOTTLE']
dup = 21493 [' VINTAGE DESIGN GIFT TAGS' 'lost?' nan 'VINTAGE DESIGN GIFT TAGS']
dup = 21495 ['SKULLS WRAP' 'SKULLS AND CROSSBONES WRAP']
dup = 21498 ['RED SPOTS  WRAP ' nan 'RED RETROSPOT WRAP ']
dup = 21499 ['BLUE SPOTS  WRAP' nan 'BLUE POLKADOT WRAP']
dup = 21500 ['PINK SPOTS  WRAP ' 'PINK POLKADOT WRAP ']
dup = 21523 ['FANCY FONT HOME SWEET HOME DOORMAT'
 'DOOR MAT FANCY FONT HOME SWEET HOME'
 'DOORMAT FANCY FONT HOME SWEET HOME' 'amendment']
dup = 21524 ['SPOTTY  HOME SWEET HOME DOORMAT' 'DOOR MAT SPOTTY HOME SWEET HOME'
 'DOORMAT SPOTTY HOME SWEET HOME']
dup = 21527 ['RETRO SPOT TRADITIONAL TEAPOT ' nan 'RED RETROSPOT TRADITIONAL TEAPOT ']
dup = 21529 ['RETRO SPOT CERAMIC TOASTRACK' 'RED RETROSPOT TOASTRACK' 'damages' nan]
dup = 21530 ['DAIRY MAID CERAMIC TOASTRACK' 'DAIRY MAID TOASTRACK']
dup = 21531 ['RETRO SPOT SUGAR JAM BOWL' 'RED RETROSPOT SUGAR JAM BOWL']
dup = 21532 ['DAIRY MAID SUGAR JAM BOWL' 'damaged' nan]
dup = 21533 ['RETRO SPOT LARGE MILK JUG' 'RETROSPOT LARGE MILK JUG']
dup = 21535 ['RETRO SPOT SMALL MILK JUG' 'RED RETROSPOT SMALL MILK JUG' nan]
dup = 21537 ['RETRO SPOTS PUDDING BOWL' 'RED RETROSPOT PUDDING BOWL']
dup = 21539 ['RETRO SPOTS BUTTER DISH' 'RED RETROSPOT BUTTER DISH']
dup = 21540 ['DAIRY MAID CERAMIC BUTTER DISH' 'DAIRY MAID BUTTER DISH' 'damages']
dup = 21542 ['WOODLAND WATER TRANSFER TATTOOS ' 'missing' nan]
dup = 21545 ['CERAMIC BIRDHOUSE BUTTERFLY SMALL' 'damages' nan]
dup = 21558 ['SKULL LUNCHBOX WITH CUTLERY ' nan 'SKULL LUNCH BOX WITH CUTLERY ']
dup = 21559 ['STRAWBERRY LUNCHBOX WITH CUTLERY' 'STRAWBERRY LUNCH BOX WITH CUTLERY']
dup = 21561 ['DINOSAUR LUNCHBOX WITH CUTLERY' 'DINOSAUR LUNCH BOX WITH CUTLERY']
dup = 21584 ['RETRO SPOT SMALL TUBE MATCHES' 'RETROSPOT SMALL TUBE MATCHES']
dup = 21588 ['RETRO SPOT GIANT  TUBE MATCHES' 'RETROSPOT GIANT TUBE MATCHES']
dup = 21592 ['RETRO SPOT  CIGAR BOX MATCHES ' 'RETROSPOT CIGAR BOX MATCHES ']
dup = 21620 ['S/4 ROSE    BOTANICAL  CANDLE' 'SET OF 4 ROSE BOTANICAL CANDLES']
dup = 21625 ['VINTAGE UNION JACK APRON' '?']
dup = 21629 ['SQUARE FLOOR CUSHION VINTAGE PINK ' 'SQUARE FLOOR CUSHION VINTAGE RED']
dup = 21652 ['GLASS ETCHED T-LIGHT HOLDER MEDIUM' 'damages' nan]
dup = 21653 ['GLASS ETCHED T-LIGHT HOLDER LARGE' '?' nan]
dup = 21666 [' RIDGED GLASS T-LIGHT HOLDER' 'RIDGED GLASS T-LIGHT HOLDER']
dup = 21671 ['RED SPOT CERAMIC DRAWER KNOB' '?']
dup = 21701 ['SET 6 MINI SUSHI SET FRIDGE MAGNETS' 'No Stock']
dup = 21702 ['SET 5 MINI GATEAUX  FRIDGE MAGNETS' 'No Stock']
dup = 21706 ['FOLDING UMBRELLA , RED/WHITE SPOT' 'FOLDING UMBRELLA RED/WHITE POLKADOT']
dup = 21707 ['FOLDING UMBRELLA , BLACK/BLUE  SPOT'
 'FOLDING UMBRELLA BLACKBLUE POLKADOT']
dup = 21708 ['FOLDING UMBRELLA  CREAM/MULTI  SPOT' 'FOLDING UMBRELLA CREAM POLKADOT']
dup = 21709 ['FOLDING UMBRELLA  CHOC/WHITE  SPOT'
 'FOLDING UMBRELLA CHOCOLATE POLKADOT']
dup = 21710 ['FOLDING UMBRELLA  PINK/WHITE  SPOT'
 'FOLDING UMBRELLA PINKWHITE POLKADOT']
dup = 21711 ['FOLDING UMBRELLA  WHITE/RED  SPOT' 'FOLDING UMBRELLA WHITE/RED POLKADOT']
dup = 21733 ['RED HANGING HEART T-LIGHT HOLDER' '85123a mixed']
dup = 21735 ['TWO DOOR CURIO CABINET' 'Damages' 'broken glass']
dup = 21746 ['SMALL RED SPOT  WINDMILL' 'SMALL RED RETROSPOT WINDMILL']
dup = 21749 ['LARGE RED SPOT WINDMILL' 'LARGE RED RETROSPOT WINDMILL' 'MIA' nan]
dup = 21750 [' LARGE SKULL WINDMILL' 'LARGE SKULL WINDMILL']
dup = 21752 ['GLASS CAKE STAND MIRRORED BASE' 'lost in space' nan]
dup = 21760 [nan 'FRENCH STYLE WALL DRESSER' 'damaged' 'used for show display']
dup = 21764 ['VINTAGE WOODEN PLATE RACK' 'display stands']
dup = 21770 ['OPEN CLOSED METAL SIGN' nan 'debenhams']
dup = 21786 ['RAIN HAT WITH RED SPOTS' 'POLKADOT RAIN HAT ']
dup = 21787 [nan 'RAIN PONCHO WITH RED SPOTS' 'RAIN PONCHO RETROSPOT']
dup = 21815 [' STAR  T-LIGHT HOLDER ' 'STAR  T-LIGHT HOLDER ' nan]
dup = 21843 ['RETRO SPOT CAKE STAND' 'RED RETROSPOT CAKE STAND' 'damaged' 'broken']
dup = 21844 ['RETRO SPOT MUG' 'RED RETROSPOT MUG']
dup = 21858 ['HIGH SCHOOL MUSICAL 3 TOP TRUMPS ' nan 'dirty']
dup = 21877 ['HOME SWEET HOME MUG' 'damages']
dup = 21880 ['RED AND WHITE SPOT TAPE' 'RED RETROSPOT TAPE']
dup = 21900 ['KEY FOB , SHED' '?' nan 'reverse mistake']
dup = 21915 ['RED  HARMONICA IN BOX ' nan 'Mixed with blue']
dup = 21929 ['JUMBO BAG PINK VINTAGE PAISLEY' '?' nan]
dup = 21936 ['RED/WHITE SPOT PICNIC BAG' 'RED RETROSPOT PICNIC BAG']
dup = 21955 ['UNION JACK GUNS & ROSES  DOORMAT' '  DOORMAT UNION JACK GUNS AND ROSES'
 'DOOR MAT UNION JACK GUNS AND ROSES' nan
 'DOORMAT UNION JACK GUNS AND ROSES']
dup = 21967 ['PACK OF 12 SKULL TISSUES' 'MIA' nan]
dup = 21980 ['PACK OF 12 RED SPOTTY TISSUES ' 'PACK OF 12 RED RETROSPOT TISSUES ']
dup = 21986 ['PACK OF 12 PINK SPOT TISSUES ' 'PACK OF 12 PINK POLKADOT TISSUES']
dup = 22029 ['SPACE BOY BIRTHDAY CARD' 'SPACEBOY BIRTHDAY CARD']
dup = 22033 ['BOTANICAL ROSE GREETING CARD' 'counted']
dup = 22037 ['ROBOT BIRTHDAY CARD' nan 'found again']
dup = 22045 ['SPACE BOY GIFT WRAP' 'SPACEBOY GIFT WRAP']
dup = 22057 ['CERAMIC PLATE STRAWBERRY DESIGN' 'smashed']
dup = 22058 ['CERAMIC LOVE HEARTS DESIGN MUG' 'damaged?' nan]
dup = 22059 ['CERAMIC STRWBERRY DESIGN MUG' 'CERAMIC STRAWBERRY DESIGN MUG']
dup = 22068 [' BLACK PIRATE TREASURE CHEST' 'BLACK PIRATE TREASURE CHEST']
dup = 22069 [' BROWN  PIRATE TREASURE CHEST ' 'BROWN  PIRATE TREASURE CHEST ']
dup = 22070 ['SMALL RETRO SPOT MUG IN BOX  RED' 'SMALL RED RETROSPOT MUG IN BOX ']
dup = 22071 ['SMALL RETRO SPOT MUG IN BOX  WHITE' 'SMALL WHITE RETROSPOT MUG IN BOX ']
dup = 22072 ['TEA CUP AND SAUCER RETRO SPOT' 'RED RETROSPOT TEA CUP AND SAUCER ']
dup = 22073 ['RETRO SPOT STORAGE JAR' 'RED RETROSPOT STORAGE JAR']
dup = 22077 ['6 RIBBONS RUSTIC CHARM' nan 'found']
dup = 22080 ['RIBBON REEL SPOTS DESIGN ' 'RIBBON REEL POLKADOTS ' '?' nan]
dup = 22083 ['PAPER CHAIN KIT RETRO SPOT' 'PAPER CHAIN KIT RETROSPOT']
dup = 22090 ['PAPER BUNTING RETRO SPOTS' 'PAPER BUNTING RETROSPOT']
dup = 22094 ['RED POLKA DOT TISSUE BOX' 'RED RETROSPOT TISSUE BOX']
dup = 22119 [' PEACE WOODEN BLOCK LETTERS' 'PEACE WOODEN BLOCK LETTERS']
dup = 22130 ['PARTY CONE CHRISTMAS DECORATION ' 'sold in wrong qnty']
dup = 22138 ['BAKING SET 9 PIECE RETROSPOT ' 'mouldy' 'damages' nan]
dup = 22139 ['RETRO SPOT TEA SET CERAMIC 11 PC ' '11 PC CERAMIC TEA SET POLKADOT' nan
 'RETROSPOT TEA SET CERAMIC 11 PC ' 'amazon']
dup = 22150 [' 3 STRIPEY MICE FELTCRAFT' '3 STRIPEY MICE FELTCRAFT']
dup = 22165 ['DIAMANTE HEART SHAPED WALL MIRROR, ' 'damaged']
dup = 22166 ['WALL MIRROR , RECT DIAMANTE, PINK/'
 'WALL MIRROR RECTANGLE DIAMANTE PINK']
dup = 22167 ['WALL MIRROR , DIAMANTE OVAL SHAPE' 'damaged'
 ' OVAL WALL MIRROR DIAMANTE ']
dup = 22168 ['ORGANISER WOOD, ANTIQUE WHITE ' 'ORGANISER WOOD ANTIQUE WHITE '
 'Damages']
dup = 22171 ['3 HOOK PHOTO SHELF ANTIQUE WHITE' 'damaged' nan]
dup = 22175 ['PINK OWL SOFT TOY' 'PINK OWL DECORATION']
dup = 22176 ['BLUE OWL SOFT TOY' 'BLUE OWL DECORATION']
dup = 22180 ['RETRO SPOT LAMP' nan 'RETROSPOT LAMP']
dup = 22191 ['EAU DE NIL DINER WALL CLOCK' 'IVORY WALL CLOCK' nan
 'IVORY DINER WALL CLOCK']
dup = 22193 ['RED DINER WALL CLOCK' 'RED WALL CLOCK' nan]
dup = 22195 ['HEART MEASURING SPOONS LARGE' 'LARGE HEART MEASURING SPOONS']
dup = 22196 ['SMALL HEART MEASURING SPOONS' 'HEART MEASURING SPOONS SMALL']
dup = 22197 ['POPCORN HOLDER , SMALL ' nan 'SMALL POPCORN HOLDER']
dup = 22198 ['POPCORN HOLDER , LARGE' 'LARGE POPCORN HOLDER ']
dup = 22199 ['FRYING PAN RED POLKADOT ' 'FRYING PAN RED RETROSPOT']
dup = 22200 ['FRYING PAN PINK POLKADOT ' 'FRYING PAN PINK RETROSPOT'
 'FRYING PAN PINK POLKADOT']
dup = 22201 ['FRYING PAN BLUE POLKADOT ' 'FRYING PAN BLUE RETROSPOT'
 'FRYING PAN BLUE POLKADOT']
dup = 22202 ['MILK PAN PINK RETROSPOT' 'MILK PAN PINK POLKADOT']
dup = 22204 ['MILK PAN BLUE RETROSPOT' 'MILK PAN BLUE POLKADOT']
dup = 22227 ['DECORATION, HANGING HEART+MIRROR ' 'HANGING HEART MIRROR DECORATION ']
dup = 22232 ['3 PIECE JIGSAW TOADSTOOLS' 'JIGSAW TOADSTOOLS 3 PIECE']
dup = 22236 ['CAKE STAND 3 TIER MAGIC GARDEN' 'Rusty ' nan 'Rust fixed'
 'Rusty connections']
dup = 22241 ['GARLAND , WOODEN  " HAPPY EASTER"' 'GARLAND WOODEN HAPPY EASTER']
dup = 22242 ['HOOK, 5 HANGER , MAGIC TOADSTOOL' '5 HOOK HANGER MAGIC TOADSTOOL']
dup = 22243 ['HOOK, 5 HANGER ,MAGIC TOADSTOOL RED' nan
 '5 HOOK HANGER RED MAGIC TOADSTOOL']
dup = 22244 ['HOOK, 3 HANGER ,MAGIC GARDEN' nan '3 HOOK HANGER MAGIC GARDEN']
dup = 22246 ['GARLAND, MAGIC GARDEN 1.8M' 'MAGIC GARDEN FELT GARLAND ']
dup = 22252 ['BIRDCAGE DECORATION MAGIC GARDEN' 'BIRDCAGE DECORATION TEALIGHT HOLDER']
dup = 22288 ['DECORATION , HANGING METAL RABBIT' 'HANGING METAL RABBIT DECORATION']
dup = 22291 ['SPRING DEC , HANGING CHICK CREAM' 'HANGING CHICK CREAM DECORATION']
dup = 22292 ['SPRING DEC , HANGING CHICK  YELLOW' 'HANGING CHICK  YELLOW DECORATION']
dup = 22293 ['SPRING DEC , HANGING CHICK  GREEN' 'HANGING CHICK GREEN DECORATION']
dup = 22310 ['KNITTED MUG COSY IVORY COLOUR ' 'IVORY KNITTED MUG COSY ']
dup = 22321 ['BIRD DECORATION RED SPOT' 'BIRD DECORATION RED RETROSPOT']
dup = 22322 ['BIRD DECORATION GREEN  SPOT' 'BIRD DECORATION GREEN POLKADOT']
dup = 22323 ['PINK POLKADOT KIDS BAG' 'BAG FOR CHILDREN VINTAGE PINK ' nan]
dup = 22324 ['BLUE POLKADOT KIDS BAG' 'BAG FOR CHILDREN VINTAGE BLUE ']
dup = 22326 ['ROUND SNACK BOXES ,SET4, WOODLAND '
 'ROUND SNACK BOXES SET OF4 WOODLAND ' nan]
dup = 22328 ['ROUND SNACK BOXES ,SET 4, FRUITS ' 'ROUND SNACK BOXES SET OF 4 FRUITS '
 nan]
dup = 22329 ['ROUND CONTAINER SET OF 5 RETROSPOT' 'ROUND FOOD CONTAINER S/5 RETROSPOT']
dup = 22333 ['RETRO SPORT PARTY BAG + STICKER SET'
 'RETRO SPOT PARTY BAG + STICKER SET' 'RETROSPOT PARTY BAG + STICKER SET']
dup = 22343 ['PARTY PIZZA DISH RED WHITE SPOT ' 'PARTY PIZZA DISH RED+WHITE SPOT '
 'PARTY PIZZA DISH RED RETROSPOT']
dup = 22344 ['PARTY PIZZA DISH PINK+WHITE SPOT ' 'PARTY PIZZA DISH PINK WHITE SPOT '
 'PARTY PIZZA DISH PINK RETROSPOT' 'PARTY PIZZA DISH PINK POLKADOT']
dup = 22345 ['PARTY PIZZA DISH BLUE+WHITE SPOT ' 'PARTY PIZZA DISH BLUE WHITE SPOT '
 'PARTY PIZZA DISH BLUE RETROSPOT' 'PARTY PIZZA DISH BLUE POLKADOT']
dup = 22346 ['PARTY PIZZA DISH GREEN+WHITE SPOT ' 'PARTY PIZZA DISH GREEN WHITE SPOT '
 'PARTY PIZZA DISH GREEN RETROSPOT' 'PARTY PIZZA DISH GREEN POLKADOT']
dup = 22347 ['PIZZA SLICE DISH' 'PIZZA DISH SLICE ' nan]
dup = 22348 ['TEA BAG PLATE RED SPOTTY ' nan 'TEA BAG PLATE RED RETROSPOT']
dup = 22349 ['DOG BOWL , CHASING BALL DESIGN' 'DOG BOWL CHASING BALL DESIGN']
dup = 22350 ['CAT BOWL ' 'ILLUSTRATED CAT BOWL ']
dup = 22352 ['LUNCHBOX WITH CUTLERY RETROSPOT ' 'LUNCH BOX WITH CUTLERY RETROSPOT ']
dup = 22353 ['LUNCHBOX WITH CUTLERY FAIRY CAKES '
 'LUNCH BOX WITH CUTLERY FAIRY CAKES ']
dup = 22354 ['RETRO SPOT PADDED SEAT CUSHION' 'RETROSPOT PADDED SEAT CUSHION']
dup = 22355 ['CHARLOTTE BAG , SUKI DESIGN' 'CHARLOTTE BAG SUKI DESIGN']
dup = 22356 ['CHARLOTTE BAG , PINK/WHITE SPOTS' 'CHARLOTTE BAG PINK WITH WHITE SPOTS'
 'CHARLOTTE BAG PINK POLKADOT']
dup = 22359 ['temp' 'GLASS JAR KINGS CHOICE' 'GLASS JAR, KINGS CHOICE SOAP']
dup = 22360 ['GLASS JAR, ENGLISH CONFECTIONERY' 'temp'
 'GLASS JAR ENGLISH CONFECTIONERY']
dup = 22361 ['temp' 'GLASS JAR DAISY FRESH COTTON WOOL']
dup = 22363 ['temp' 'GLASS JAR MARMALADE ']
dup = 22365 ['DOORMAT RESPECTABLE HOUSE' 'DOOR MAT RESPECTABLE HOUSE']
dup = 22366 ['DOORMAT AIRMAIL ' 'DOOR MAT AIRMAIL ']
dup = 22367 ['CHILDS APRON SPACEBOY DESIGN' 'CHILDRENS APRON SPACEBOY DESIGN']
dup = 22381 ['TOY TIDY PINK RETROSPOT  ' 'TOY TIDY PINK POLKADOT']
dup = 22382 ['LUNCHBAG SPACEBOY DESIGN ' 'LUNCH BAG SPACEBOY DESIGN ']
dup = 22383 ['LUNCHBAG SUKI  DESIGN ' 'LUNCH BAG SUKI  DESIGN ']
dup = 22384 ['LUNCHBAG PINK RETROSPOT' 'LUNCH BAG PINK RETROSPOT'
 'LUNCH BAG PINK POLKADOT' 'LUNCH BAG PINK POLKADOTS']
dup = 22386 ['JUMBO BAG PINK WITH WHITE SPOTS' 'JUMBO BAG PINK POLKADOT']
dup = 22405 ['MONEY BOX POCKET MONEY DESIGN' 'TIN CAN POCKET MONEY DESIGN']
dup = 22406 ['MONEY BOX KINGS CHOICE DESIGN' 'TIN CAN KINGS CHOICE DESIGN']
dup = 22408 ['MONEY BOX CONFECTIONERY DESIGN' 'TIN CAN CONFECTIONERY DESIGN']
dup = 22409 ['MONEY BOX BISCUITS DESIGN' 'TIN CAN BISCUITS DESIGN']
dup = 22410 ['MONEY BOX HOUSEKEEPING DESIGN' 'TIN CAN HOUSEKEEPING DESIGN']
dup = 22414 ['DOORMAT NEIGHBOURHOOD WITCH ' 'DOOR MAT NEIGHBOURHOOD WITCH ']
dup = 22416 ['36 DOILIES SPACEBOY DESIGN ' 'SET OF 36 DOILIES SPACEBOY DESIGN ']
dup = 22418 ['10 COLOUR SPACEBOY PEN' 'PEN, 10 COLOURS - SPACEBOY']
dup = 22423 ['REGENCY CAKESTAND 3 TIER' 'smashed' 'damaged' nan
 'broken, uneven bottom' 'wonky bottom/broken' 'faulty']
dup = 22425 ['ENAMEL COLLANDER CREAM' 'ENAMEL COLANDER CREAM']
dup = 22432 [nan 'WATERING CAN PINK BUNNY' 'WATERING CAN GREEN DINOSAUR']
dup = 22433 ['my error - connor' 'WATERING CAN GREEN DINOSAUR'
 'WATERING CAN PINK BUNNY']
dup = 22445 ['PENCIL CASE LIFE IS BEAUTIFUL' 'PENCIL CASE GINGHAM FOREST']
dup = 22446 ['PIN CUSHION RUSSIAN DOLL PINK' 'PIN CUSHION BABUSHKA PINK']
dup = 22447 ['PIN CUSHION RUSSIAN DOLL BLUE' 'PIN CUSHION BABUSHKA BLUE']

There are duplicates in Decription variable, so it would be better to use StockCode

In [4]:
df.loc[df['StockCode'] == 20724, 'Description'].unique()

array(['RED SPOTTY CHARLOTTE BAG', 'RED RETROSPOT CHARLOTTE BAG'],
      dtype=object)

### Data Preperation

Drop na value

In [5]:
df.dropna(inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 417534 entries, 0 to 525460
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Invoice      417534 non-null  object
 1   StockCode    417534 non-null  object
 2   Description  417534 non-null  object
 3   Quantity     417534 non-null  int64
 4   InvoiceDate  417534 non-null  datetime64[ns]
 5   Price        417534 non-null  float64
 6   Customer ID  417534 non-null  float64
 7   Country      417534 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 28.7+ MB

In [6]:
df.describe([0.01, 0.05, 0.1, 0.25, 0.50, 0.75, 0.90, 0.95, 0.99]).T

,count,mean,std,min,1%,5%,10%,25%,50%,75%,90%,95%,99%,max
Quantity,417534.00000,12.75881,101.22042,-9360.00000,-2.00000,1.00000,1.00000,2.00000,4.00000,12.00000,24.00000,36.00000,144.00000,19152.00000
Price,417534.00000,3.88755,71.13180,0.00000,0.29000,0.42000,0.65000,1.25000,1.95000,3.75000,6.75000,8.50000,14.95000,25111.09000
Customer ID,417534.00000,15360.64548,1680.81132,12346.00000,12435.00000,12725.00000,13042.00000,13983.00000,15311.00000,16799.00000,17706.00000,17913.00000,18196.00000,18287.00000

There are negative values on Quantity variables by refund invoices (invoices containing the letter "C"), reassign df without refund invoices.

In [6]:
df= df[~df["Invoice"].str.contains("C", na=False)]

In [7]:
df.describe([0.01, 0.05, 0.1, 0.5, 0.75, 0.9, 0.95, 0.99]).T

,count,mean,std,min,1%,5%,10%,50%,75%,90%,95%,99%,max
Quantity,515255.00000,10.95663,104.35401,-9600.00000,1.00000,1.00000,1.00000,3.00000,10.00000,24.00000,32.00000,120.00000,19152.00000
Price,515255.00000,3.95637,127.68856,-53594.36000,0.21000,0.42000,0.65000,2.10000,4.21000,7.78000,9.95000,18.95000,25111.09000
Customer ID,407695.00000,15368.50411,1679.79570,12346.00000,12435.00000,12731.00000,13044.00000,15321.00000,16812.00000,17706.00000,17913.00000,18196.00000,18287.00000

In [15]:
df.loc[df["Invoice"].str.contains("C", na=False)]

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
178,C489449,22087,PAPER BUNTING WHITE LACE,-12,2009-12-01 10:33:00,2.95000,16321.00000,Australia
179,C489449,85206A,CREAM FELT EASTER EGG BASKET,-6,2009-12-01 10:33:00,1.65000,16321.00000,Australia
180,C489449,21895,POTTING SHED SOW 'N' GROW SET,-4,2009-12-01 10:33:00,4.25000,16321.00000,Australia
181,C489449,21896,POTTING SHED TWINE,-6,2009-12-01 10:33:00,2.10000,16321.00000,Australia
182,C489449,22083,PAPER CHAIN KIT RETRO SPOT,-12,2009-12-01 10:33:00,2.95000,16321.00000,Australia
...,...,...,...,...,...,...,...,...
524695,C538123,22956,36 FOIL HEART CAKE CASES,-2,2010-12-09 15:41:00,2.10000,12605.00000,Germany
524696,C538124,M,Manual,-4,2010-12-09 15:43:00,0.50000,15329.00000,United Kingdom
524697,C538124,22699,ROSES REGENCY TEACUP AND SAUCER,-1,2010-12-09 15:43:00,2.95000,15329.00000,United Kingdom
524698,C538124,22423,REGENCY CAKESTAND 3 TIER,-1,2010-12-09 15:43:00,12.75000,15329.00000,United Kingdom
525282,C538164,35004B,SET OF 3 BLACK FLYING DUCKS,-1,2010-12-09 17:32:00,1.95000,14031.00000,United Kingdom

df = df[~df["Invoice"].str.contains("C", na=False)]

Negative values are excluded. We are not removeing outliers like max value on Quantity and Price variables because will be scoring the dataset.

In [8]:
df['TotalPrice'] = df['Quantity'] * df['Price']

In [9]:
df.head()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country,TotalPrice
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95000,13085.00000,United Kingdom,83.40000
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75000,13085.00000,United Kingdom,81.00000
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75000,13085.00000,United Kingdom,81.00000
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10000,13085.00000,United Kingdom,100.80000
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25000,13085.00000,United Kingdom,30.00000

## RFM Metrics

The last day of purchase:

In [11]:
df['InvoiceDate'].max()

Timestamp('2010-12-09 20:01:00')

Assign "today's date" as 2 days after the last date of purchase to make sure that none of the recency values become zero.

In [13]:
today_date = df['InvoiceDate'].max() + dt.timedelta(days=2)
today_date

Timestamp('2010-12-11 20:01:00')

Create a new df called rfm in order to calculate Recency, Frequency and Monetary values. rfm is grouped by customers and:

- The number of days between today_date and the last purchase date of this customer is Recency

- The number of unique invoices of this customer os Frequency

- The sum of TotalPrice is customer's Monetary

In [15]:
 rfm = df.groupby ('Customer ID').agg({'InvoiceDate': lambda date: (today_date - date.max()).days,
                                        'Invoice': lambda inv: inv.nunique(),
                                        'TotalPrice': lambda price: price.sum()})

In [16]:
rfm.head()

             InvoiceDate  Invoice  TotalPrice
Customer ID
12346.00000          166       11   372.86000
12347.00000            4        2  1323.32000
12348.00000           75        1   222.16000
12349.00000           44        3  2671.14000
12351.00000           12        1   300.93000

Rename rfm columns:

In [17]:
rfm.columns = ['Recency', 'Frequency', 'Monetary']
rfm.head()

             Recency  Frequency   Monetary
Customer ID
12346.00000      166         11  372.86000
12347.00000        4          2 1323.32000
12348.00000       75          1  222.16000
12349.00000       44          3 2671.14000
12351.00000       12          1  300.93000

Check if there are any zeros in rfm:

In [18]:
rfm.describe([0.01, 0.05, 0.1, 0.25, 0.5, 0.75, 0.9, 0.95, 0.99]).T

,count,mean,std,min,1%,5%,10%,25%,50%,75%,90%,95%,99%,max
Recency,4314.00000,92.26912,96.94348,2.00000,2.00000,4.00000,9.00000,19.00000,54.00000,137.00000,256.00000,305.00000,369.00000,375.00000
Frequency,4314.00000,4.45410,8.16866,1.00000,1.00000,1.00000,1.00000,1.00000,2.00000,5.00000,9.00000,13.00000,31.00000,205.00000
Monetary,4314.00000,2047.28866,8912.52324,0.00000,39.95650,110.43650,155.48500,307.95000,705.55000,1722.80250,3796.59500,6235.12050,20136.78250,349164.35000

### RFM Scores

- The min number of Recency metric means that this customer has just purchased, so the highest score (5) should be given to the lower number of Recency.

The max number of Frequency and Monetary metrics mean that the customer is purchasing frequently and spending more money, so the highest score (5) should be given to the highest Frequency and Monetary values.

In [20]:
rfm["RecencyScore"]= pd.qcut(rfm['Recency'], 5, labels=[5, 4, 3, 2, 1])
rfm["FrequencyScore"]= pd.qcut(rfm['Frequency'].rank(method="first"), 5, labels=[1, 2, 3, 4, 5])
rfm["MonetaryScore"]= pd.qcut(rfm['Monetary'], 5, labels=[1, 2, 3, 4, 5])

In [23]:
rfm["RFM_SCORE"] = (rfm['RecencyScore'].astype(str) +
                    rfm['FrequencyScore'].astype(str) + 
                    rfm['MonetaryScore'].astype(str))
rfm.head()

,Recency,Frequency,Monetary,RecencyScore,FrequencyScore,MonetaryScore,RFM_SCORE
Customer ID,,,,,,,
12346.00000,166,11,372.86000,2,5,2,252
12347.00000,4,2,1323.32000,5,2,4,524
12348.00000,75,1,222.16000,2,1,1,211
12349.00000,44,3,2671.14000,3,3,5,335
12351.00000,12,1,300.93000,5,1,2,512

In [25]:
rfm['RFM_SCORE'].max()

'555'

Display some of the customers with the highest scores:

In [28]:
rfm[rfm['RFM_SCORE'] == "555"]

,Recency,Frequency,Monetary,RecencyScore,FrequencyScore,MonetaryScore,RFM_SCORE
Customer ID,,,,,,,
12415.00000,12,7,19543.84000,5,5,5,555
12431.00000,10,13,4370.52000,5,5,5,555
12471.00000,11,49,20139.74000,5,5,5,555
12472.00000,6,13,11308.48000,5,5,5,555
12474.00000,15,13,5048.66000,5,5,5,555
...,...,...,...,...,...,...,...
18225.00000,2,15,7545.14000,5,5,5,555
18226.00000,15,15,6650.83000,5,5,5,555
18229.00000,3,10,3526.81000,5,5,5,555
18245.00000,16,13,3757.92000,5,5,5,555
18260.00000,11,17,7318.91000,5,5,5,555

### Naming the RFM Scores

The following dict has been made according tho the famous RFM graphic

In [29]:
seg_map = {
    r"[1-2][1-2]": "Hibernating",
    r"[1-2][3-4]": "At Risk",
    r"[1-2]5": "Can't Loose",
    r"3[1-2]": "About to Sleep",
    r"33": "Need Attention",
    r"[3-4][4-5]": "Loyal Customers",
    r"41": "Promising",
    r"51": "New Customers",
    r"[4-5][2-3]": "Potential Loyalists",
    r"5[4-5]": "Champions",
}

We will be using Recency and frequency scores for customer segmentation. We are assuming that a customer who has recently purchased and who is often purchasing should have high RFM scores.

In [30]:
rfm['Segment'] = rfm['RecencyScore'].astype(str) + rfm['FrequencyScore'].astype(str)
rfm.head()

,Recency,Frequency,Monetary,RecencyScore,FrequencyScore,MonetaryScore,RFM_SCORE,Segment
Customer ID,,,,,,,,
12346.00000,166,11,372.86000,2,5,2,252,25
12347.00000,4,2,1323.32000,5,2,4,524,52
12348.00000,75,1,222.16000,2,1,1,211,21
12349.00000,44,3,2671.14000,3,3,5,335,33
12351.00000,12,1,300.93000,5,1,2,512,51

Finally, we will convert the metrics into category names

In [32]:
rfm['Segment'] = rfm['Segment'].replace(seg_map, regex=True)
rfm.head()

,Recency,Frequency,Monetary,RecencyScore,FrequencyScore,MonetaryScore,RFM_SCORE,Segment
Customer ID,,,,,,,,
12346.00000,166,11,372.86000,2,5,2,252,Can't Loose
12347.00000,4,2,1323.32000,5,2,4,524,Potential Loyalists
12348.00000,75,1,222.16000,2,1,1,211,Hibernating
12349.00000,44,3,2671.14000,3,3,5,335,Need Attention
12351.00000,12,1,300.93000,5,1,2,512,New Customers

See the number of customers in each category

In [33]:
rfm['Segment'].value_counts()

Hibernating            1017
Loyal Customers         742
Champions               663
At Risk                 611
Potential Loyalists     517
About to Sleep          343
Need Attention          207
Promising                87
Can't Loose              77
New Customers            50
Name: Segment, dtype: int64

Now we have all the scores for the customers and we have been able to categorize them into 10 groups. We will be using metrics for this process, not scores. We will be focus on the groups that need a better customer relationship and yry to figure out what we can do in order to make that specific segmment purchase more frequently and become loyal.